body {
    margin: 0;
    background-color: lightslategrey;

}

h1 {
    text-align: center;
    background-color: white;
    color: crimson;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.show-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {

    box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 500px;
    animation: modelopen 1s;
}

@keyframes modelopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-header {
    background-color: lightslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.fa-xmark {
    font-size: 25px;
    cursor: pointer;
}

.modal-content {
    background-color: white;
    padding: 20px;
}

.form-group {
    height: 50px;

}

.form-input {
    width: 100%;
    padding: 5px;
    border: 2px solid lightslategrey;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: lightslategrey;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.item {
    background-color: white;
    color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
    text-align: end;
    margin: 10px;
}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

.fa-times {
    cursor: pointer;
}

.name {
    margin-top: 20px;
    margin-right: 20px;
}